@{
    ViewData["Title"] = "Cadaster - Home";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Cadaster</h1>
    <p>
        <img id="logo" src="~/img/logo.png" alt="Imagem de cadastro - logo" />
    </p>
</div>
