@{
    ViewData["Title"] = "Cadaster - Home";
}

<div class="text-center white">
    <h1 class="display-4">Bem-vindo ao Cadaster</h1>
    <hr style="width: 600px;" />
    <p>
        Sistema de cadastro de pessoas.
        <br />
        Utilize o cadaster para registrar pessoas e manter seus dados atualizados.
    </p>
    <br />
    <img src="~/img/team.png" width="500" />
</div>
